.container {

    text-align: center;
    width: 400px;
}



body {

              background: rgb(185, 30, 30);
              color:rgb(17, 2, 2);

     }

.nav-link{

    color:white;
}
.navbar-brand{

    color:white;
}

  



